body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  height: var(--containerHeight);
  width: var(--containerWidth);
  flex-wrap: wrap;
  outline: 1px solid black;
}

.mainGrids {
  flex-wrap: wrap;
  outline: 1px solid black;
}

.buttons {
  margin-top: 10px;
}
